html, body {
    margin: 0px;  
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 15px;
    background-color: grey;
    min-width: 30%;
    min-height: 20%;
    padding: 20px;
}
